<!-- hero landing section --> 
<div class="hero">
    <h1>Hi, I'm Meghna</h1>
    <h3>3rd Year Student at SMIT, Dog Lover , Book Worm</h3>
</div>
<!---  about me section -->
<div class="aboutme">
    <h2>About Me</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, maiores placeat eos similique, numquam accusamus dolorem iure accusantium tempora sequi laborum ab dolorum. Esse facilis veritatis eveniet harum officiis tempore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum est excepturi eaque pariatur delectus eligendi consequuntur modi id debitis inventore. Aperiam est, unde aliquid eius iure aspernatur maiores dolorem voluptatem.</p>
</div>
<!-- Projects Section -->
<div class="projects">
    <h2>Projects</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <div class="box">
            <img src="https://i.pinimg.com/236x/79/01/10/79011091a25d3d41481825954bb087f2.jpg" alt="">
            <div class="dText">
                <h4> Cafeteria App</h4>
                <p>A crud app built on Mongo Express Blah Blah</p>
            </div>
            <button>Go To Project</button>
        </div>
        <div class="box">
            <img src="https://i.pinimg.com/564x/5b/4e/0a/5b4e0a3d1d7ef0032a15ad80c62261c7.jpg" alt="">
            <div class="dText">
                <h4>Another App</h4>
                <p>A crud app built on Mongo Express Blah Blah</p>
            </div>
            <button>Go To Project</button>
        </div>

    </div>
</div>
<!-- Books Section -->
<div class="bookshelf">
    <h2>My BookShelf</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <div class="books">
            <img src="https://i.pinimg.com/236x/28/b5/61/28b561e54c352fbdae654c1d3677b59e.jpg" alt="">
            <a href="#">Read Review</a>
        </div>
        <div class="books">
            <img src="https://i.pinimg.com/564x/d8/a6/4f/d8a64f08bc3279063550e090878e1987.jpg" alt="">
            <a href="#">Read Review</a>
        </div>

    </div>
</div>