<div class="pContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="https://i.pinimg.com/236x/79/01/10/79011091a25d3d41481825954bb087f2.jpg" alt="">
            </div>
            <div class="col-sm">
                <h3> Cafeteria App</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum voluptatum officiis, assumenda provident rem eius neque! Quas quae accusamus voluptatum perspiciatis! Soluta ea sint maxime unde esse quas, illo vero.</p>
                <button>View Hosted Project</button>
            </div>
        </div>
    </div>
</div>