//set variables

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #9a8194;
$secondary: #c6a9a3;
$background: #f8f1f1;
$base: #695865;
$light: #FFD6F5;

$titleFont: 'Roboto Mono', monospace;
$bodyFont: 'Roboto', sans-serif;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
